{$PUBLIC_DOMAIN} {
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        -Server
    }

    route {
        @backend path /api /api/*
        reverse_proxy @backend studentmanagementsystem:8080
        reverse_proxy frontend:3000
    }
}
